:root {
  --color-red: #ef0202;
}

@media (hover: hover) {
  .a-hover a:hover {
    color: var(--color-red)!important;
  }
}

/* 기본 설정 */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: monospace;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 20px;
  height: 50px;
  z-index: 10;
}

footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  padding: 20px;
  box-sizing: border-box;
}

.nav-right,
.nav-center
{
  display: flex;
  gap: 20px;
}

.nav-left a,
.nav-right a,
.nav-center,
.nav-center a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  font-family: monospace;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

main#desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  opacity: 0;
  transform: scale(0.96);
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: grab;
}

.icon img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  user-select: none;
}

.icon.selected {
  outline: 2px dotted black;
  outline-offset: 4px;
}

.icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}